.loaderSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0;
}
.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid #7fa1ff;
  border-top: 4px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
