.loader-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid #646cff;
  border-top: 4px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
